@model GRA.Controllers.ViewModel.Share.ShareAvatarViewModel

@section metadata {
	<social data="Model.Social"
			description="A customized avatar for {sitename}, sign up to make your own!"></social>
}

<div class="row">
	<div class="col-12">
		<div class="card d-inline-block">
			<h1 class="card-header h4">
				@SharedLocalizer[GRA.Annotations.Title.JoinNow, Context.Items[ItemKey.SiteName]]
			</h1>
			<a asp-controller="Join" asp-action="Index" aria-label="@SharedLocalizer[GRA.Annotations.Title.Join]">
				<img src="@Model.ImageUrl" class="img-fluid" alt="@Model.ShareImageAltText" />
			</a>
			<div class="card-body">
				<div class="col-12 text-center">
					<div class="h4 d-block d-sm-none" style="margin-bottom: 1.5rem; margin-top: 1.5rem;">@SharedLocalizer[GRA.Annotations.Info.JoinCreateAvatar]</div>
					<div class="h2 d-none d-sm-block" style="margin-bottom: 2rem;">@SharedLocalizer[GRA.Annotations.Info.JoinCreateAvatar]</div>
				</div>
				<div class="col-10 offset-xs-1 col-sm-6 offset-sm-3" style="margin-bottom: 2rem;">
					<a asp-controller="Join" asp-action="Index" class="btn btn-lg btn-outline-primary">
						<span class="fas fa-book"></span>
						@SharedLocalizer[GRA.Domain.Model.DisplayNames.JoinNow]
					</a>
				</div>
			</div>
		</div>
	</div>
</div>